<sebm-google-map
  [latitude]="latitude"
  [longitude]="longitude"
  (mapClick)="handleMapClick()"
  >
  <sebm-google-map-marker
    *ngFor="let marker of markers; let index = index"
    [latitude]="marker.latitude"
    [longitude]="marker.longitude"
    (markerClick)="handleMarkerClick(marker)"
    >
    <sebm-google-map-info-window
      [isOpen]="marker.isOpen"
      (infoWindowClose)="handleInfoWindowClose(marker)"
      >
      Hi, this is the content of the <strong>info window</strong>
    </sebm-google-map-info-window>
  </sebm-google-map-marker>
</sebm-google-map>
