<div class="app-authenticate__wrap__md-card">
  <md-card>
    <md-card-content [class.u-hidden]="!(isAuthenticating | async)">
      <md-spinner></md-spinner>
    </md-card-content>

    <template [ngIf]="!(isAuthenticating | async)">
      <template [ngIf]="isAuthenticated | async">
        <md-card-header>
          <img md-card-avatar [src]="photoURL | async">
          <md-card-title>Welcome, {{displayName | async}}</md-card-title>
          <md-card-subtitle>{{email | async}}</md-card-subtitle>
        </md-card-header>
        <md-card-actions>
          <button md-button (click)="logOut()">LOG OUT</button>
        </md-card-actions>
      </template>

      <template [ngIf]="!(isAuthenticated | async)">
        <md-card-title>Welcome</md-card-title>
        <md-card-actions>
          <button md-button (click)="logIn()">LOG IN</button>
        </md-card-actions>
      </template>
    </template>
  </md-card>
</div>
